html{
    scroll-behavior: smooth;
}
/* header */
body{
    background-color: rgb(0, 14, 0);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: center;
    box-shadow: 1px 1px rgba(0, 0, 0, .3);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: white;
}

nav a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    background-color: white;
    text-decoration: 0;
}

nav ul{
    list-style: none;
}
nav .list-menu{
    display: flex;
    gap: 30%;

}
nav .list-menu i{
    transform: scaleX(-1);
    cursor: pointer;
}
nav .list-action{
    display: flex;
    gap: 30%;
}
nav .list-action li i{
    font-size: 20px;
}
.logo{
    margin-left: 70px;
}

.logo a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.fa-magnifying-glass{
    transform: scaleX(-1);
}
.list-action i:not(.fa-magnifying-glass):hover{
    color: red;
}
.dropdown-content-menu{
    display: none;
    width: 100px;
    padding:10px 30px 30px 20px;
    margin-left: -3px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content-menu a{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.dropdown-content-menu pre{
    color: red;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    width: 100px;
    padding:30px 0px;
    padding-left: 30px;
    margin-left: -110px;
    position: absolute;
    background-color: white;
}
.dropdown-content a{
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover{
    color: green;
}
.dropdown-button{
    cursor: pointer;
}
.dropdown-button:hover .dropdown-content {
    display: block;
  }
.introduction{
    background-image: url('./images/rempah.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 80px;
}

.introduction h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 50px 50px 0 50px;
    padding-top: 100px;
}

.introduction h3 {
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 20px;
    text-align: center;
}

.mainimage img{
    margin: 30px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 70%;
}

.content1 {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 5% 10%;
    align-items: center;
}

.content1 p {
    font-family: 'Montserrat';
    font-size: 37px;
    font-weight: 400;
    text-decoration: none;
}

.content1 h1 {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 600;
}

.content1 h2{
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 300;
    padding-right: 10%;
}



.content1 a{
    text-decoration: none;
    color: white;
}

.content1 .main-content1{
    padding: 0% 5% 0% 0%;
}

.content1 img {
    width: 30%;
}

.content2{
    color: white;
    text-align: center;
    padding: 5% 5% 0% 5%;
}

.content2 h1{
    font-family: 'Poppins';
    font-size: 42px;
    text-decoration: none;
}

.content2 h3{
    font-family: 'Montserrat';
    font-size: 37px;
    font-weight: 400;
    padding: 0% 10% 0% 10%;
    line-height: 1;
}

  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    font-weight: bold;
    float: left;
    width: 20%;
    padding: 20px 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {

    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 400px) {
    .column {
      width: 80%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(5, 44, 2);
  }



.Drink{
    color: white;
    text-align: center;
    padding: 5% 5% 0% 5%;
}

.Drink h1{
    font-family: 'Poppins';
    font-size: 42px;
    text-decoration: none;
}

.Drink h3{
    font-family: 'Montserrat';
    font-size: 37px;
    font-weight: 400;
    padding: 0% 10% 0% 10%;
    line-height: 1;
}

.contact{
    text-align: center;
    padding: 10% 5% 15% 5%;
}

.contact h1{
    font-family: 'Poppins';
    font-size: 60px;
    font-weight: 600;
    padding: 0% 10% 0% 10%;
    line-height: 1;
}

.contact p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    padding: 0% 20% 0% 20%;
}

.contact p a{
    color: green;
}

.kmb-content1 {
    text-align: center;
    padding: 10% 5% 5% 5%;
}

.kmb-content1 p {
    font-family: 'Montserrat';
    font-size: 37px;
    font-weight: 400;
    text-decoration: none;
}

.kmb-content1 h1 {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 600;
}

.kmb-content1 h2{
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 300;
}

.kmb-content1 a{
    text-decoration: none;
    color: white;
}

.kmb-content1 img {
    width: 30%;
}

/* Detail Project */
.description{
    padding-top: 100px;
}

.description .details{
    font-family: 'Poppins';
    margin-top: 60px;
    width: 90%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 70px;
}

.details img{
    width: 60%;
}

.makanan{
    display: flex;
    align-items: center;
    padding: 100px 200px 0 200px;
}


.baris{
    padding: 100px  0 ;
}

/* .baris .kolom h2{} */

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
  text-align: left;
}

#tamu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tamu td,
#tamu th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tamu tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tamu tr:hover {
  background-color: #ddd;
}

#tamu tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: black;
}
